table .icons{ width: 38px; }
table .amostra{ background: url('/images/ico_novo_resultado_on.png') center center no-repeat;  }
table .laboratorio{ background: url('/images/ico_laboratorio_on.png') center center no-repeat;  }
table .usuario{ background: url('/images/ico_usuario_on.png') center center no-repeat;  }
table .selos{ background: url('/images/ico_selos_on.png') center center no-repeat;  }